body{
	background-color:red;
	background-image:url("home/shivam/tele_exp/csi");
}

h1{
	display:block;
	color: red;
	text-align: left;
	font-size: 60px;
}

label{
	font-size: 30px;
	color:blue;
}

input{
	border:1px solid black;
	display:inline-block;
	width:400px;
	height:50px;
	padding:10px;
	margin-bottom: 15px;
	background-color:orange;
	color:blue;
	font-size: 30px;
}

input:hover,input:active{
	background-color:lightgreen;
	color:black;
}

button{
	margin-top:30px;
	font-size:30px;
	color:black;
	font-weight: bold;
	margin-left:10px;
}

a,a:visited{
	margin-left:10px;
	text-decoration:none;
	color:red;
	margin-top: 30px;
	font-size:30px;
}

a:hover,a:active{
	text-decoration:none;
	color:red;
}