<!DOCTYPE html>
<html>
<head>
<body style="background-image:url(/home/shivam/Desktop/ABC.jpg)">
</head>
<body>

<h1>Hello World!</h1>
<p>This text is not easy to read on this background image.</p>
<img src="https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjPrZjl6rnaAhVGOY8KHTXKBkYQjRx6BAgAEAU&url=https%3A%2F%2Fnerdist.com%2Fan-assassins-creed-animated-series-may-be-coming-to-netflix%2F&psig=AOvVaw2mFQs0CFB9CfmEZmSLR4Cq&ust=1523797623002294">

</body>
</html>
